@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    background-color: #fff7fb;
    color: #333;
}

.header {
    background-color: #fbcfe8;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    margin-top: 80px;
}

.logo-site {
    width: 200px;
    margin: auto;
    display: block;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    color: #f94eb0;
    text-decoration: underline;
}

.section {
    padding: 40px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-10px);
    background-color: #ffe4e6;
}

.box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    color: #666;
}

.footer {
    background-color: #fbcfe8;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.social-link:hover {
    color: #f94eb0;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        margin-bottom: 20px;
    }
}
.avatar-framboesa{
    width: 450px;
}
.moranguinho{
    width: 600px;
}